<div>
  <table class="table table-bordered acttable" >
    <thead>
      <th style="cursor:move" draggable drag="handleDrag"  dragData="{{hd}}" droppable drop="handleDrop" ng-repeat="hd in conf.heads">
        
        <a href="" ng-click="order(hd)">{{hd}}</a>
        <span class="sortorder" ng-show="predicate === hd" ng-class="{reverse:reverse}"></span>
    
      </th>
    </thead>
    <tbody> 
      <tr ng-repeat="record in conf.data | orderBy:predicate:reverse | limitTo:PAGE_SIZE:start">
        <td ng-repeat="header in conf.heads"><span>{{record[header]}}</span>
        </td>
      </tr>
      <tr>
        <td colspan="5">Page(s): {{pages}} <span style="padding:5px"> showing {{PAGE_SIZE}} records per page</span>
         <span style="float:right;padding:5px"><a ng-hide="hidePrev()" href="" ng-click="prevPage()">Prev</a></span>
        <span style="float:right;padding:5px"><a ng-hide="hideNext()" href="" ng-click="nextPage()">Next</a></span></td>
      </tr>
    </tbody>
  </table>
</div>

     